@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.hrd-dark, .hrd-dark *));

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

  h1 {
    margin: 0;
    font-weight: 400;
  }

  ul {
    margin: 0;
    list-style-type: none;
  }

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
}
